.title_item {
    background-color: #569DAA;
    border-radius: 16px;
    height: fit-content;
    margin: auto;
    vertical-align: middle;
    width: var(background-image);
    overflow: auto;
    background-image: url("../Assets/Images/header_back.png") 100px;
}

.title_item h1 {
    text-align: center;
    color: #B9EDDD;
    font-family: Helvetica;
    padding: 25px;
}

.main_page_p {
    font-family: Helvetica;
    white-space: pre-line;
    text-align: left, top;
}

html {
    background-color: #B9EDDD;
}

.unordered_list {
    border-radius: 16px;
}

div.content_list_main {
    padding: 5px;
    margin: 15px;
    align-items: center;
    align-content: center;

}

/*Content list for main page*/

ul.content_list_main {
    list-style-type: circle;
    margin: 0;
    display: table-row;
}

li.content_list_main {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

a.content_list_main:hover {
    background-color: #27E1C1;
}

a.content_list_main {
    text-align: center;
    cursor: pointer;
    background-color: #87CBB9;
    overflow-wrap: break-word;
    text-align: center;
    padding-top: 25px;
    border-radius: 16px;

    border: 1px solid #ADE4DB;
    color: inherit;
    display: block;
    width: 250px;
    height: 40px;
}